
<div class="text-center pb-5">
    <h1 class="display-4">Recipes</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Recipe</th>
            <th>Add To Shoppinglist</th>
            <th>Cooking Instructions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Spice Cajun Chicken</td>
            <td>
                <form class="col" asp-action="AddToShoppinglist">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Add To Shoppinglist
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">New Shoppinglist</a></li>
                            <li><a class="dropdown-item" href="#">Gilles</a></li>
                        </ul>
                    </div>
                </form>
            </td>
            <td>
                <a class="btn btn-primary col" href="#">Cooking Instructions</a>
            </td>
        </tr>
    </tbody>
</table>
