<table class="table">
    <thead>
        <tr>
            <th>Recipe</th>
            <th></th>
            <th>Cooking Instructions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recipe of recipes">
            <td>
                <app-recipe-table-item [recipe]="recipe" [recipeIngredients]="recipe.recipeIngredients" />
            </td>
            <td>
                <div class="row">
                    <div class="col-auto">
                        <app-recipe-table-dropdown-menu [shoppinglists]="shoppinglists$" text="Add To"
                            (onUpdateShoppinglist)="addToShoppinglist($event, recipe)">
                            <li>
                                <button class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#createShoppinglist">
                                    + New Shoppinglist
                                </button>
                            </li>
                        </app-recipe-table-dropdown-menu>
                    </div>
                    <div class="col-auto">
                        <app-recipe-table-dropdown-menu [shoppinglists]="shoppinglists$" text="Remove From"
                            (onUpdateShoppinglist)="removeFromShoppinglist($event, recipe)" />
                    </div>
                </div>

            </td>
            <td>
                <a class="btn btn-primary col" [routerLink]="['/recipeDetail', recipe.id]">Cooking Instructions</a>
            </td>
            <td>
                <button data-bs-toggle="deleteModal" data-bs-target="#deleteModal" (click)="deleteRecipe(recipe)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<app-delete-modal [elementName]="recipeToDelete?.name" (onDelete)="confirmDelete()"></app-delete-modal>