<table class="table">
    <thead>
        <tr>
            <th>Recipe</th>
            <th>Add To Shoppinglist</th>
            <th>Cooking Instructions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recipe of recipes">
            <td>{{ recipe.name }}</td>
            <td>
                <div class="dropdown">
                    <button
                        class="btn btn-primary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Add To Shoppinglist
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="dropdown-item" href="#">
                                New Shoppinglist
                            </button>
                        </li>
                        <li *ngFor="let shoppinglist of shoppinglists">
                            <button
                                class="dropdown-item"
                                (click)="updateShoppinglist(shoppinglist)"
                            >
                                {{ shoppinglist.name }}
                            </button>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <a class="btn btn-primary col" href="#">Cooking Instructions</a>
            </td>
        </tr>
    </tbody>
</table>
