<div class="text-center">
    <h1 class="display-5">
        Shoppinglist: {{shoppinglist?.name}}
        <button class="btn btn-danger" type="button" (click)="deleteShoppinglist()">Delete</button>
    </h1>
</div>

<div class="container justify-content-between">
    <div class="row justify-content-center gx-5">
        <div class="col-4 p-5">
            <ul class="list-group">
                <li *ngFor="let item of shoppinglist?.shoppinglistIngredients; let i =index"
                    class="list-group-item d-flex justify-content-between align-items-start">
                    <div>
                        <input class="form-check-input me-1" type="checkbox" value="" [(ngModel)]="item.isChecked" (change)="updateIngredient(item.id, item)" id="ingredients{{i}}">
                        <label class="form-check-label fw-bold" for="ingredients{{i}}">
                            {{item.quantity}}{{measurementList[item.measurement].toLowerCase()}}
                            {{item.ingredient.name}}</label>
                    </div>

                    <button type="button" (click)="removeIngredient(item.id)" class="btn btn-outline-danger">Delete</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--Delete shoppinglist modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <strong>{{ shoppinglist?.name }}</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="confirmDeleteShoppinglist()">Delete</button>
        </div>
      </div>
    </div>
  </div>