<div class="text-center">
    <h1 class="display-5">
        Shoppinglist: {{shoppinglist?.name}}
        <button class="btn btn-danger" type="button" data-bs-target="#deleteModal" data-bs-toggle="modal">Delete</button>
    </h1>
</div>

<div class="d-flex justify-content-center pt-3">
    <div class="row">
        <div class="col autocomplete-container">
            <input type="text" class="form-control" [(ngModel)]="newIngredientName" placeholder="<ingredient name>" (blur)="onBlur()" (input)="onInput(newIngredientName)" aria-label="Ingredient name"/>
            <ul *ngIf="filteredIngredients.length > 0 && showDropdown" class="autocomplete-list">
                <li *ngFor="let option of filteredIngredients" (click)="onSelect(option.name)">
                    {{ option.name}}
                </li>
            </ul>
        </div>
        <div class="col-2">
            <input type="number" class="form-control" [(ngModel)]="newIngredientQuantity" placeholder="1" aria-label="Quantity" min="1"/>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-sm" id="ingredientMeasurement"
                [(ngModel)]="newIngredientMeasurement" [disabled]="isDisabled">
                <option *ngFor="let item of measurementList; let i = index" [ngValue]="i">{{item}}
                </option>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" (click)="addIngredient()">Add</button>
        </div>
    </div>
</div>

<div class="container justify-content-between">
    <div class="row justify-content-center gx-5">
        <div class="col-4 p-5">
            <ul class="list-group">
                <li *ngFor="let item of shoppinglist?.shoppinglistIngredients; let i =index"
                    class="list-group-item d-flex justify-content-between align-items-start">
                    <div>
                        <input class="form-check-input me-1" type="checkbox" value="" [(ngModel)]="item.isChecked" (change)="updateIngredient(item.id, item)" id="ingredients{{i}}">
                        <label class="form-check-label fw-bold" for="ingredients{{i}}">
                            {{item.quantity}}{{measurementList[item.measurement].toLowerCase()}}
                            {{item.ingredient.name}}</label>
                    </div>

                    <button type="button" (click)="removeIngredient(item.id)" class="btn btn-outline-danger">Delete</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<app-delete-modal [elementName]="shoppinglist?.name" (onDelete)="confirmDeleteShoppinglist()"></app-delete-modal>